/* 
    Created on : 19 feb. 2024, 11:12:25
    Author     : hecto
*/
body, hml{
    font-family: Helvetica Neue,Helvetica,sans-serif;
 background-color: #000000;

 
}
a{
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
}
h1, h2, h3{
    color: #ffffff;
    font-weight: bold;
}
.title_one{
font-size: 75px;
}
.title_one h1{
font-size: 75px;
}
.titulo{
     padding-top: 190px;
     padding-bottom: 90px;
}
.titulo_portfolio{
     padding-top: 190px;
     padding-bottom: 140px;
}
.Aboutme p {
    font-size: 38px; 
    color: #DEDEDE;
}
.distance_hr{
    padding-top:75px; 
    padding-bottom: 75px;
}
.company {
   border:1px solid #DEDEDE;
}
.feature{
    padding-top: 75px;
}
.feature_p{
    font-size: 38px;
  color: #DEDEDE;
}
.textop{
    color: #DEDEDE;
}
.btn{
    border-color: #484E53;
    border-radius: 50px;
}
.btn_project{
    border-radius: 0;
    background-color: #141414;
    border-color: #484E53;
}

/*Estilo para menu desplegable*/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 1);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  /*text-align: center;*/
  margin-top: 20px;
  margin-left: 150px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #A9A9A9;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay_title{
    font-size: 38px;
}

@media (max-width: 575.98px) {
  .overlay {
overflow-y: auto;
}
.overlay-content {
  margin-top: 20px;
  margin-left: 40px;
}
  .overlay a {
font-size: 20px
}
 .overlay p{
font-size: 16px
}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* Small devices ()*/
@media (max-width: 575.98px){ 
    .Aboutme p {
        font-size: 22px; 
        color: #DEDEDE;
    }
.title_one{
font-size: 38px;
}
.title_one h1{
font-size: 38px;
}
.titulo{
     padding-top: 100px;
     padding-bottom: 0;
}
.titulo_portfolio{
     padding-top: 100px;
     padding-bottom: 70px;
}
.distance_hr{
    padding-top:38px; 
    padding-bottom: 38px;
}

.feature{
    padding-top: 38px;
}
.feature_p{
    font-size: 22px;
  color: #DEDEDE;
}
.company h3{
   font-size: 16px;
}
.company p{
    font-size: 12px;
}
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 }
